---
import BackToTopButton from "../components/BackToTopButton.astro";
import Curtain from "../components/Curtain.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { getPhoneNumber } from "../utils/homePageContent";

const phoneNumber = await getPhoneNumber();
---

<Layout title="Contact Us">
  <main id="primary" class="site-main">
    <Curtain />
    <!-- Back to top button -->
    <BackToTopButton />
    <!-- Navigation Menu
          ================================================== -->
    <Header />
    <!-- /.sk__menu -->

    <section class="contact-page sk__pt-l">
      <div class="container sk__supercontainer">
        <div class="row text-center">
          <div class="col-12 col-md-10 offset-md-1 sk__reveal-header-text">
            <div class="cover-text-wrapper">
              <div class="happy-mb2"></div>
              <div class="fancy-gradient-text-box">
                <h1 class="super-heading sk__gradient-fancy-text">
                  Contact Us
                </h1>
              </div>
            </div>
            <div class="cover-text-wrapper">
              <h2 class="h2-large sk__heading-spacer-s"></h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="entry-content">
      <div id="pl-gb19-66bc92aa7447c" class="panel-layout">
        <div id="pg-gb19-66bc92aa7447c-0" class="">
          <div id="pgc-gb19-66bc92aa7447c-0-0" class="panel-grid-cell">
            <div
              id="panel-gb19-66bc92aa7447c-0-0-0"
              class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
              data-index="0"
            >
              <div class="textwidget custom-html-widget">
                <!-- Subscribe Section
      ================================================== -->
                <section
                  id="subscribe-form"
                  class="sk__py-l background-page-contact"
                >
                  <div class="container sk__powercontainer">
                    <div
                      class="row sk__iconboxes-wrapper text-center sk__flex-center-x"
                    >
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="sk__iconbox2">
                          <a class="sk__iconbox-icon-link" href="#">
                            <span class="sk__flex-center sk__iconbox-icon"
                              ><span
                                class="icon-map-marker icon-map-marker-contact sk__gradient-fancy-text"
                              ></span></span
                            >
                            <span class="sk__iconbox-icon-dash"></span>
                          </a>
                          <a
                            class="sk__iconbox-text-link gradient-links-bright contact-page-title"
                            href="#"
                          >
                            <h5>Address</h5>
                          </a>
                          <p>608 50th st, Charleston, WV 25034</p>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="sk__iconbox2">
                          <a
                            class="sk__iconbox-icon-link"
                            href="tel:3047673121"
                          >
                            <span class="sk__flex-center sk__iconbox-icon"
                              ><span
                                class="icon-phone_enabled icon-map-marker-contact sk__gradient-fancy-text"
                              ></span></span
                            >
                            <span class="sk__iconbox-icon-dash"></span>
                          </a>
                          <a
                            class="sk__iconbox-text-link gradient-links-bright contact-page-title"
                            href="tel:3047673121"
                          >
                            <h5>Call Now</h5>
                          </a>
                          <a href="tel:3047673121" style="color: #000;"
                            >{phoneNumber}</a
                          >
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="sk__iconbox2">
                          <a class="sk__iconbox-icon-link" href="#">
                            <span class="sk__flex-center sk__iconbox-icon"
                              ><span
                                class="icon-clock2 icon-map-marker-contact sk__gradient-fancy-text"
                              ></span></span
                            >
                            <span class="sk__iconbox-icon-dash"></span>
                          </a>
                          <a
                            class="sk__iconbox-text-link gradient-links-bright contact-page-title"
                            href="#"
                          >
                            <h5>Business Hours</h5>
                          </a>
                          <p>
                            Mon - Sat: 10:00am - 7:00pm<br />
                            Sun: Appointment Only
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- /#subscribe-form -->

                <!-- Contact Us Section
      ================================================== -->
                <!-- /.sk__contact-us -->

                <!-- <div>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13030.934169880633!2d-97.4916064!3d35.2628842!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b26b48f7afd231%3A0x72685e49c13a22a2!2sBOSS%20Nail%20Spa!5e0!3m2!1sen!2s!4v1696493861741!5m2!1sen!2s"
                    width="100%"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> -->
                <!-- CTA Section (Warp CTA)
      ================================================== -->
              </div>
              <!--Wrapper-->

              <!-- Footer
                  ================================================== -->
              <Footer />

              <!-- Helper div for inserting before scripts
                  ================================================== -->
              <div class="sk__body-end"></div>

              <!-- /#smooth-content -->

              <!-- /#smooth-wrapper -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main></Layout
>
