---
import BackToTopButton from "../components/BackToTopButton.astro";
import Curtain from "../components/Curtain.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Host A Party">
  <main id="primary" class="site-main">
    <Curtain />
    <!-- Back to top button -->
    <BackToTopButton />
    <!-- Navigation Menu
          ================================================== -->
    <Header />
    <!-- /.sk__menu -->
    <section class="contact-page sk__pt-l">
      <div class="container sk__supercontainer">
        <div class="row text-center">
          <div class="col-12 col-md-10 offset-md-1 sk__reveal-header-text">
            <div class="cover-text-wrapper">
              <div class="happy-mb2"></div>
              <div class="fancy-gradient-text-box">
                <h1 class="super-heading sk__gradient-fancy-text">
                  Host A Party
                </h1>
              </div>
            </div>
            <div class="cover-text-wrapper">
              <h2 class="h2-large sk__heading-spacer-s"></h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Wrapper-->
  
    <!--Wrapper-->

    <!-- Footer
                  ================================================== -->
    <Footer />

    <!-- Helper div for inserting before scripts
                  ================================================== -->
    <div class="sk__body-end"></div>

    <!-- /#smooth-content -->

    <!-- /#smooth-wrapper -->
  </main>
</Layout>
