---
import BackToTopButton from "../components/BackToTopButton.astro";
import Curtain from "../components/Curtain.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeroImageSlide from "../components/HeroImageSlide.astro";
import PortfolioItem from "../components/PortfolioItem.astro";
import ServiceSquare from "../components/ServiceSquare.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome Astro.">
  <main id="primary" class="site-main">
    <Curtain />
    <!-- Back to top button -->
    <BackToTopButton />
    <!-- Navigation Menu
					  ================================================== -->
    <Header />
    <!-- /.sk__menu -->
    <div id="smooth-wrapper" class="pushable-content">
      <div id="smooth-content">
        <!-- Hero Section / Hero Slider
							  ================================================== -->
        <section class="sk__hero-section">
          <!-- Carousel -->
          <div
            id="sk__hero-carousel-slider"
            class="carousel slide dark-shade-1-bg"
          >
            <!-- Hero Dots Navigation Bootstrap 5 -->
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#sk__hero-carousel-slider"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"></button>
              <button
                type="button"
                data-bs-target="#sk__hero-carousel-slider"
                data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button
                type="button"
                data-bs-target="#sk__hero-carousel-slider"
                data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <HeroImageSlide
                id={1}
                title="Beauty at first<br />glamour"
                image="/slider/1.png"
                imageMobile="/slider/1-mobile.png"
              />
              <HeroImageSlide
                id={2}
                title="Adorning today, <br />styling you"
                image="/slider/2.jpg"
                imageMobile="/slider/2-mobile.png"
              />
              <HeroImageSlide
                id={3}
                title="Let me be <br />your nail girl."
                image="/slider/3.jpg"
                imageMobile="/slider/3-mobile.png"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#sk__hero-carousel-slider"
              data-bs-slide="prev"
            >
              <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										  <span class="visually-hidden">Previous</span>-->
              <img
                src="/wp-content/themes/bossnailspanorman/assets/images/left-arrow.webp"
              />
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#sk__hero-carousel-slider"
              data-bs-slide="next"
            >
              <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>
										  <span class="visually-hidden text-black">Next</span>-->
              <img
                src="/wp-content/themes/bossnailspanorman/assets/images/right-arrow.webp"
              />
            </button>
          </div>
          <!-- /#sk__hero-carousel-slider -->
        </section>
        <!-- /.sk__hero-section -->
        <!--Wrapper-->
        <div id="wrapper">
          <article
            class="post-9 page type-page status-publish hentry"
            id="post-9"
          >
            <!--<h2 class="entry-title">Home</h2>-->
            <section class="entry-content">
              <div id="pl-gb9-66bb66f209fb6" class="panel-layout">
                <div id="pg-gb9-66bb66f209fb6-0">
                  <div id="pgc-gb9-66bb66f209fb6-0-0" class="panel-grid-cell">
                    <div
                      id="panel-gb9-66bb66f209fb6-0-0-0"
                      class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
                      data-index="0"
                    >
                      <div class="textwidget custom-html-widget">
                        <!-- /.sk__hero-section -->
                        <section
                          class="sk__parallax-background-section sk__parallax-fixer-section sk__parallax-fixer-ignore-height overflow-hidden"
                          style="max-height: 0"
                        >
                          <div class="sk__parallax-background-element"></div>
                        </section>
                        <!-- About Us Section
														  ================================================== -->
                        <section
                          id="about-us"
                          class="sk__about-us-section sk__py-xl egift-home"
                        >
                          <div class="container sk__supercontainer">
                            <div class="row">
                              <div
                                class="col-12 col-lg-6 sk__rectangles-left about-left text-center text-sm-start"
                              >
                                <h1
                                  class="super-heading sk__clipped-text sk__gradient-back-v1 mb-sm-1 text-color2"
                                >
                                  Your Satisfaction Is Our Priority<span
                                    class="heading-deco"></span>
                                </h1>
                                <p class="">
                                  In keeping with our commitment to cleanliness,
                                  safety and hygiene, we sterilize and sanitize
                                  our equipment for all services and treatments.
                                  Your health and safety are our utmost
                                  priorities. All pedicure liners are disposable
                                  to prevent the spread of bacteria, fungus, and
                                  infectious diseases. All our files and buffers
                                  will be discarded after being used on each
                                  customer. Thank you for choosing us to be your
                                  place for hand, feet, and beauty care.
                                </p>
                                <div class="row row text-center text-sm-start">
                                  <div
                                    class="col-12 col-lg-6 sk__flex about-button-col order-2 order-lg-1"
                                  >
                                    <div
                                      class="flex-child mb-3 mb-lg-0 section-services"
                                    >
                                      <a
                                        class="btn btn-outline-gold mb-4"
                                        href="services.html"
                                        role="button">Our Services</a
                                      >
                                    </div>
                                  </div>
                                  <div class="about-hours">
                                    <h4 style="color: #000">Business Hours</h4>
                                    <p>
                                      Mon &#8211; Sat: 10:00am &#8211; 7:00pm<br
                                      />
                                      Sun: 12:00am &#8211; 5:00pm
                                    </p>
                                    <p>Call Us At: 304 767 3121</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-lg-1 about-right"></div>
                              <div class="col-12 col-lg-5 about-right">
                                <div
                                  class="about-right-image-wrap mt-4 mt-lg-0 mb-4 mb-lg-0"
                                >
                                  <div class="about-img-three mr-20">
                                    <div class="about2">
                                      <img decoding="async" src="/nail.png" />
                                    </div>
                                    <div class="sub-img">
                                      <img
                                        width="250"
                                        height="250"
                                        decoding="async"
                                        src="/hand-star.png"
                                        alt="About"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <!-- /.sk__about-us-section -->
                        <!-- Services Section
														  ================================================== -->
                        <section
                          id="services"
                          class="sk__services-section sk__parallax-background-section dark-shade-5-border sk__solid-menu-bar"
                        >
                          <div
                            class="sk__parallax-background-element sk__absolute sk__image-back-cover sk__services-background"
                          >
                          </div>
                          <div class="container sk__py-l">
                            <div class="row text-center">
                              <div class="col sk__heading-spacer-l">
                                <div
                                  class="cover-text-wrapper services-home-title"
                                >
                                  <h1
                                    class="super-heading sk__clipped-text animated-element"
                                  >
                                    Our Services
                                  </h1>
                                </div>
                              </div>
                            </div>
                            <div
                              class="row sk__iconboxes-wrapper text-center sk__flex-center-x"
                            >
                              <ServiceSquare
                                title="Manicure"
                                description="Be more beautiful and stylish with our manicure service. All of the staff are well-trained, careful and whole-hearted. Take the time from your busy schedule to help your hands and nails look their best."
                                image="services/2.png"
                                link="/services"
                              />
                              <ServiceSquare
                                title="Pedicure"
                                description="Indulge your feet with our exclusive spa pedicures. Our pedicure chairs are noiseless and pipe less offering the best combination of relaxation & sanitation. We'll make you feel like royalty!"
                                image="/services/3.png"
                                link="/services"
                              />
                            </div>
                            <div
                              class="row sk__iconboxes-wrapper text-center sk__flex-center-x"
                            >
                              <ServiceSquare
                                title="Waxing"
                                description="We understand that waxing is personal, so we're committed to making you comfortable, both through friendly, straightforward service and the very best waxing products available."
                                image="/services/1.png"
                                link="/services"
                              />
                              <ServiceSquare
                                title="Facial"
                                description="Come and experience our customized facial that blend relaxation with effective treatments to give you the best skin."
                                image="/services/facial.png"
                                link="/services"
                              />
                            </div>
                          </div>
                        </section>
                        <!-- /.sk__services-section -->
                        <!-- CTA Section (Warp CTA)
														  ================================================== -->
                        <!-- <section
                          class="sk__cta-warp position-relative sk__image-back-cover bg-home"
                        >
                          <div class="container sk__powercontainer">
                            <div class="row">
                              <div class="col text-center egift-home-txt">
                                <div
                                  class="sk__warped-text-wrapper sk__flex-center"
                                >
                                  <span class="sk__warped-text slogan"
                                    >Choose the beauty</span
                                  >
                                </div>
                                <h3>
                                  <strong>Best nails for best moments.</strong>
                                </h3>
                                <a
                                  class="btn btn-lg btn-outline-light sk__warped-button"
                                  href="services.html"
                                  role="button">Our Services</a
                                >
                              </div>
                            </div>
                          </div>
                        </section> -->
                        <!-- Featured Project Section
														  ================================================== -->
                        <section
                          class="sk__featured-project-section sk__parallax-background-section dark-shade-2-bg sk__flex"
                        >
                          <div
                            class="sk__featured-project-background sk__parallax-background-element sk__absolute sk__image-back-cover party-index"
                          >
                          </div>
                          <div
                            class="sk__featured-project-infos-container sk__absolute sk__flex-center-y"
                          >
                            <div class="featured-project">
                              <div
                                class="sk__rectangles-full-left text-center text-sm-start"
                              >
                                <div
                                  class="flex-child sk__featured-project-infos sk__solid-menu-bar party-home"
                                >
                                  <h1
                                    class="super-heading sk__clipped-text mb-sm-1 text-color2"
                                  >
                                    Host A Party
                                  </h1>
                                  <p class="mw-300">
                                    Our salon is the perfect place to host a
                                    party, corporate event or a just a
                                    get-together for friends, family, and
                                    co-workers. We have a beautiful and
                                    accommodating space, affordable prices to
                                    fit everyone's budget, and a large team of
                                    technicians to serve your needs so you and
                                    your guests can relax and enjoy the party.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <!-- /.sk__featured-project-section -->
                        <!-- <div class="featured-project-padder"></div> -->
                        <!-- Laptop Section
														  ================================================== -->
                        <!-- Portfolio Section
														  ================================================== -->
                        <section
                          class="Portfolio-Page sk__portfolio-section sk__py-l dark-shade-2-bg sk__solid-menu-bar"
                          style="background: #ebd094"
                        >
                          <div class="container-fluid">
                            <div class="row text-center">
                              <div class="col sk__heading-spacer-l">
                                <h1
                                  class="h1-small trigger-portfolio-thumbs-entrance"
                                  style="color: #000"
                                >
                                  Our Photos
                                </h1>
                              </div>
                            </div>
                            <div class="row">
                              <div
                                class="col sk__portfolio-thumbs px-sm-3 px-md-5"
                              >
                                <div class="sk__portfolio-wrapper text-center">
                                  <PortfolioItem
                                    title="LAVISH NAIL"
                                    subTitle="The joy of Best Nail"
                                    image="/portfolio/1.png"
                                  />
                                  <PortfolioItem
                                    title="LAVISH NAIL"
                                    subTitle="The joy of Best Nail"
                                    image="/portfolio/2.png"
                                  />
                                  <PortfolioItem
                                    title="LAVISH NAIL"
                                    subTitle="The joy of Best Nail"
                                    image="/portfolio/3.png"
                                  />
                                  <PortfolioItem
                                    title="LAVISH NAIL"
                                    subTitle="The joy of Best Nail"
                                    image="/portfolio/4.png"
                                  />
                                  <PortfolioItem
                                    title="LAVISH NAIL"
                                    subTitle="The joy of Best Nail"
                                    image="/portfolio/5.png"
                                  />
                                  <!--End-->
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <!-- /.sk__portfolio-section -->
                        <section class="sk__laptop-section egift-home-footer">
                          <div class="container sk__supercontainer">
                            <div class="row">
                              <div
                                class="col sk__laptop-infos-container sk__flex-center-y sk__laptop-text-col"
                              >
                                <div class="sk__laptop-mockup-subcontainer">
                                </div>
                                <div class="sk__laptop-infos-subcontainer">
                                  <div class="sk__rectangles-laptop">
                                    <div
                                      class="flex-child sk__laptop-infos text-center text-sm-end egift-home-txt"
                                    >
                                      <h1
                                        class="super-heading sk__clipped-text sk__gradient-back-v1 mb-sm-1 text-color2"
                                      >
                                        Promotions
                                      </h1>
                                      <p
                                        class="sk__rectangles-laptop-custom-p mw-440"
                                      >
                                        It's always important to take good care
                                        of yourself. It's never a bad idea to
                                        use our services to pamper yourself. You
                                        deserve every bit of it. You know what
                                        they say. Everything is better with
                                        friends and family. Take advantage of
                                        our promotional events and treat
                                        yourself and everyone you care about to
                                        some of our services. They will
                                        appreciate your kind gestures.
                                      </p>
                                      <a
                                        class="btn btn-outline-light mt-3"
                                        href="promotion.html"
                                        role="button">Promotions</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <!-- /.sk__laptop-section
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  id="pg-gb9-66bb66f209fb6-1"
                  class="panel-grid panel-no-style"
                >
                  <div
                    id="pgc-gb9-66bb66f209fb6-1-0"
                    class="panel-grid-cell panel-grid-cell-empty"
                  >
                  </div>
                </div>
              </div>
            </section>
            <section class="entry-meta"></section>
          </article>
        </div>
        <!--Wrapper-->
                        <div id="sidebar" role="complementary">
                          <ul>
                            <li>
                              <form
                                role="search"
                                method="get"
                                id="searchform"
                                class="searchform"
                                action="index.html"
                              >
                                <div>
                                  <label class="screen-reader-text" for="s"
                                    >Search for:</label
                                  >
                                  <input type="text" value="" name="s" id="s" />
                                  <input
                                    type="submit"
                                    id="searchsubmit"
                                    value="Search"
                                  />
                                </div>
                              </form>
                            </li>
                            <!-- Author information is disabled per default. Uncomment and fill in your details if you want to use it.
									  <li><h2>Author</h2>
									  <p>A little something about you, the author. Nothing lengthy, just an overview.</p>
									  </li>
									  -->
                          </ul>
                          <ul role="navigation">
                            <li class="pagenav">
                              <h2>Pages</h2>
                              <ul>
                                <li class="page_item page-item-19">
                                  <a href="promotions/contact.html">Contact</a>
                                </li>
                                <li class="page_item page-item-17">
                                  <a href="promotions/gallery.html">Gallery</a>
                                </li>
                                <li class="page_item page-item-26">
                                  <a href="promotions/happy-hour.html"
                                    >Happy Hour</a
                                  >
                                </li>
                                <li
                                  class="page_item page-item-9 current_page_item"
                                >
                                  <a href="/" aria-current="page">Home</a>
                                </li>
                                <li class="page_item page-item-14">
                                  <a href="promotions/promotion.html"
                                    >Promotions</a
                                  >
                                </li>
                                <li class="page_item page-item-11">
                                  <a href="promotions/services.html">Services</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li>
                              <h2>Archives</h2>
                              <ul>
                                <li>
                                  <a href="2024/01/index.html">January 2024</a>
                                </li>
                              </ul>
                            </li>
                            <li class="categories">
                              <h2>Categories</h2>
                              <ul>
                                <li class="cat-item cat-item-1">
                                  <a href="category/uncategorized/index.html"
                                    >Uncategorized</a
                                  >
                                  (1)
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <h2>Meta</h2>
                              <ul>
                                <li><a href="/wp-login.php.html">Log in</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                        <!-- Footer
							  ================================================== -->
                        <Footer />
                        <!-- Helper div for inserting before scripts
							  ================================================== -->
                        <div class="sk__body-end"></div>
                      </div>
                      <!-- /#smooth-content -->
                    </div>
                    <!-- /#smooth-wrapper -->
                  </div>
                </div>
              </div>
            </section>
          </article>
        </div>
      </div>
    </div>
  </main></Layout
>
