---
import BackToTopButton from "../components/BackToTopButton.astro";
import Curtain from "../components/Curtain.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ServiceComponent from "../components/service/ServiceComponent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
  <main id="primary" class="site-main">
    <Curtain />
    <!-- Back to top button -->
    <BackToTopButton />
    <!-- Navigation Menu
          ================================================== -->
    <Header />
    <!-- /.sk__menu -->
    <section class="contact-page sk__pt-l">
      <div class="container sk__supercontainer">
        <div class="row text-center">
          <div class="col-12 col-md-10 offset-md-1 sk__reveal-header-text">
            <div class="cover-text-wrapper">
              <div class="happy-mb2"></div>
              <div class="fancy-gradient-text-box">
                <h1 class="super-heading sk__gradient-fancy-text">Services</h1>
              </div>
            </div>
            <div class="cover-text-wrapper">
              <h2 class="h2-large sk__heading-spacer-s"></h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Wrapper-->
    <div id="wrapper">
      <article
        class="post-11 page type-page status-publish hentry"
        id="post-11"
      >
        <!--<h2 class="entry-title">Services</h2>-->
        <section class="entry-content">
          <div id="pl-gb11-66bb66fe2f54d" class="panel-layout">
            <div id="pg-gb11-66bb66fe2f54d-0">
              <div id="pgc-gb11-66bb66fe2f54d-0-0" class="panel-grid-cell">
                <div
                  id="panel-gb11-66bb66fe2f54d-0-0-0"
                  class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
                  data-index="0"
                >
                  <div class="textwidget custom-html-widget">
                    <!-- CTA Section (Warp CTA)
                  ================================================== -->
                    <section
                      class="position-relative sk__image-back-cover services-bg-page"
                    >
                      <div class="container px-3">
                        <div>
                          <ServiceComponent
                            id="1"
                            serviceTitle="Acrylic Nail"
                            images={["/service-images/acrylic-nail.png"]}
                            serviceList={[
                              {
                                name: "Acrylic New Set",
                                note: "Refill",
                              },
                              {
                                name: "Acrylic White Tip New Set",
                                note: "Refill",
                              },
                              {
                                name: "Acrylic Gel Color New Set",
                                note: "Refill",
                              },
                              {
                                name: "Pink & White New Set",
                                note: "Refill",
                              },
                              {
                                name: "Color French or Sparkle Fading",
                                note: "Refill",
                              },
                              {
                                name: "Acrylic Ombre New Set",
                                note: "Refill",
                              },
                            ]}
                          />
                          <ServiceComponent
                            id="2"
                            serviceTitle="Dipping Powder"
                            images={["/service-images/dipping.png"]}
                            serviceList={[
                              {
                                name: "Dipping Powder on nature nails",
                              },
                              {
                                name: "Dipping Powder Ombre",
                              },
                              {
                                name: "Full Set Dipping Powder",
                              },
                              {
                                name: "Dipping French",
                              },
                            ]}
                          />
                          <ServiceComponent
                            id="3"
                            serviceTitle="Manicure & Pedicure"
                            images={[
                              // "/service-images/pedicure.png",
                              "/service-images/pedicure2.png",
                            ]}
                            serviceList={[
                              {
                                name: "The Pure Organic Tropical Pedicure",
                                note: "Comes with fresh orange/lemon/mango/cucumber, hot stone, hot paraffin wax...",
                              },
                              {
                                name: "Volcano Spa with CBD Pedicure",
                                note: "Scents: Gold, Hot Lava, Beach Paradise, Rose Gold, Fuji Pear, Spearmint.",
                              },
                              {
                                name: "Volcano Spa Pedicure",
                                note: "Scents: Lavender, Tropical, Honey Pear, Green Tea, Jasmine, Orange, Honey Suckle, Raspberry & Plum, Lemongrass & Ginger, Strawberry, Mango, Lemon, Romance",
                              },
                              {
                                name: "Lavish Collagen Spa Pedicure",
                                note: "Comes with the Collagen Spa Pedicure's system and warm Collagen Shocks.",
                              },
                              {
                                name: "Deluxe Pedicure",
                                note: "Come with Sea Salt or Sugar Scrub, callus treatment, lotion and hot towel.",
                              },
                              {
                                name: "Classic Pedicure",
                                note: "Come with toe nails trim, lotion, hot towel (does not include the callus treatment)",
                              },
                              {
                                name: "Princess Pedicure (Kid spa pedicure)",
                                note: "Includes all the benefits of a classic pedicure",
                              },
                            ]}
                          />
                          <ServiceComponent
                            id="4"
                            serviceTitle="Waxing & Tinting"
                            images={[
                              "/service-images/waxing1.png",
                              // "/service-images/waxing2.png",
                            ]}
                            serviceList={[
                              {
                                name: "Eyebrows",
                              },
                              {
                                name: "Eyebrows Tinting",
                              },
                              {
                                name: "Lips",
                              },
                              {
                                name: "Chin",
                              },
                              {
                                name: "Side",
                              },
                              {
                                name: "Whole Face",
                              },
                              {
                                name: "Half/Full Legs",
                              },
                              {
                                name: "Half/Full Arms",
                              },
                              {
                                name: "Under Arms",
                              },
                              {
                                name: "Back or chest",
                              },
                              {
                                name: "Bikini",
                              },
                              {
                                name: "Brazilian",
                              },
                            ]}
                          />
                          <ServiceComponent
                            id="5"
                            serviceTitle="Additional Services"
                            images={["/service-images/additional-service.jpg"]}
                            serviceList={[
                              {
                                name: "Take-off with Services",
                              },
                              {
                                name: "Take-off without Services",
                              },
                              {
                                name: "French/Color Tips",
                              },
                              {
                                name: "Nail Repair",
                              },
                              {
                                name: "Gel Polish",
                              },
                              {
                                name: "Polish Change on Hands/Toes",
                              },
                              {
                                name: "Nail Design",
                              },
                              {
                                name: "Long Nails, Shape Nails Almond, Coffin, Stilettos",
                              },
                              {
                                name: "Add on Collagen Glove/Shocks Paraffin wax",
                              },
                            ]}
                          />
                          <div
                            class="d-flex flex-column flex-md-row gap-5 my-5"
                          >
                            <div class="w-100">
                              <ServiceComponent
                                id="6"
                                isComingSoon={true}
                                serviceTitle="Eyelashes Extension"
                                images={["/service-images/eyelashes.png"]}
                                serviceList={[]}
                              />
                            </div>
                            <div class="w-100">
                              <ServiceComponent
                                id="7"
                                isComingSoon={true}
                                serviceTitle="Massage"
                                images={["/service-images/massage.png"]}
                                serviceList={[]}
                              />
                            </div>
                          </div>
                          <div
                            class="d-flex flex-column flex-md-row gap-5 my-5 justify-content-center"
                          >
                            <div class="">
                              <ServiceComponent
                                id="8"
                                isComingSoon={true}
                                serviceTitle="Facial"
                                images={["/service-images/facial.png"]}
                                serviceList={[]}
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
              <div
                id="pg-gb11-66bb66fe2f54d-1"
                class="panel-grid panel-no-style"
              >
                <div id="pgc-gb11-66bb66fe2f54d-1-0" class="panel-grid-cell">
                  <div
                    id="panel-gb11-66bb66fe2f54d-1-0-0"
                    class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
                    data-index="1"
                  >
                    <div class="textwidget custom-html-widget">
                      <script>
                        var element = document.getElementById("mLinkServices");
                        element.classList.add("selected");
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="entry-meta"></section>
        </section>
      </article>
      <!--Wrapper-->
      <!-- Footer
                  ================================================== -->
      <Footer />

      <!-- Helper div for inserting before scripts
                  ================================================== -->
      <div class="sk__body-end"></div>

      <!-- /#smooth-content -->

      <!-- /#smooth-wrapper -->
    </div>
  </main>
</Layout>
