---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
  <main id="primary" class="site-main">
    <section class="sk__master-curtain">
      <div class="mcurtain mcurtain-left"></div>
      <div class="mcurtain mcurtain-center"></div>
      <div class="mcurtain mcurtain-right"></div>
    </section>
    <!-- Back to top button -->
    <div class="sk__back-to-top-wrap">
      <a class="sk__back-to-top" href="promotions/services.html#smooth-content"
        ><span class="sk__back-to-top"></span></a
      >
    </div>
    <!-- Navigation Menu
          ================================================== -->
    <Header />
    <!-- /.sk__menu -->
    <section class="contact-page sk__pt-l">
      <div class="container sk__supercontainer">
        <div class="row text-center">
          <div class="col-12 col-md-10 offset-md-1 sk__reveal-header-text">
            <div class="cover-text-wrapper">
              <div class="happy-mb2"></div>
              <div class="fancy-gradient-text-box">
                <h1 class="super-heading sk__gradient-fancy-text">Services</h1>
              </div>
            </div>
            <div class="cover-text-wrapper">
              <h2 class="h2-large sk__heading-spacer-s"></h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Wrapper-->
    <div id="wrapper">
      <article
        class="post-11 page type-page status-publish hentry"
        id="post-11"
      >
        <!--<h2 class="entry-title">Services</h2>-->
        <section class="entry-content">
          <div id="pl-gb11-66bb66fe2f54d" class="panel-layout">
            <div id="pg-gb11-66bb66fe2f54d-0">
              <div id="pgc-gb11-66bb66fe2f54d-0-0" class="panel-grid-cell">
                <div
                  id="panel-gb11-66bb66fe2f54d-0-0-0"
                  class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
                  data-index="0"
                >
                  <div class="textwidget custom-html-widget">
                    <!-- CTA Section (Warp CTA)
                  ================================================== -->
                    <section
                      class="position-relative sk__image-back-cover services-bg-page"
                    >
                      <div class="container">
                        <div class="row">
                          <a name="manicure"></a>
                          <div class="group_services divseracti" id="seracti_1">
                            Manicure
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_1"
                          >
                            <div class="servicesgroup">
                              <div class="col-lg-4 col-md-4 servicesimg">
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/1.webp"
                                    alt="Manicure"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/2.webp"
                                    alt="Manicure"
                                    class="mb-none"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/3.webp"
                                    alt="Manicure"
                                    class="mb-none"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Classic Manicure
                                  </div>
                                  <div class="price">$21</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Signature Manicure
                                  </div>
                                  <div class="price">$31</div>
                                  <div class="row_note">
                                    This manicure consists of nail trimming,
                                    shaping, cuticle care, sugar scrub, hot
                                    towels, paraffin wax, and massage and is
                                    finished with your choice of color.
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    The Boss Manicure
                                  </div>
                                  <div class="price">$41</div>
                                  <div class="row_note">
                                    This manicure includes a 5-minute shoulder
                                    massage, nail trimming and shaping, cuticle
                                    care, buffing, sugar scrub, hot towels,
                                    mask, collagen glove, and massage. It is
                                    finished with your choice of color.
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Gel Manicure
                                  </div>
                                  <div class="price">$41</div>
                                  <div class="row_note">
                                    This manicure includes nail trimming,
                                    shaping, cuticle care, buffing, gel polish,
                                    and massage lotion. We finish with a gel
                                    polish that lasts for 2 weeks with infinite
                                    shine, no chipping, and no damage to the
                                    natural nails.
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Dipping Powder
                                  </div>
                                  <div class="price">$46</div>
                                </div>
                                <div class="row-name-title">Add-ons:</div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Ombre Dip
                                  </div>
                                  <div class="price">$15</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Extra Length
                                  </div>
                                  <div class="price">$5+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    French Tips
                                  </div>
                                  <div class="price">$5+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Special Shapes
                                  </div>
                                  <div class="price">$5+</div>
                                  <div class="row_note">
                                    Coffin, Oval, Almond, Stiletto
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Cut &#038; Reshape
                                  </div>
                                  <div class="price">$5+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Pamper Me
                                  </div>
                                  <div class="price">$20</div>
                                  <div class="row_note">
                                    Enjoy cuticle trim, sugar scrub, mask, hot
                                    towel, paraffin wax, and arm and shoulder
                                    massage!
                                  </div>
                                </div>
                                <!--End-->
                              </div>
                            </div>
                          </div>

                          <a name="pedicure"></a>
                          <div class="group_services divseracti" id="seracti_2">
                            Pedicure
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_2"
                          >
                            <div class="servicesgroup">
                              <div class="col-lg-4 col-md-4 servicesimg">
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/4.webp"
                                    alt="Pedicure"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/6.webp"
                                    alt="Pedicure"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/5.webp"
                                    alt="Pedicure"
                                    class="mb-none"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div
                                  class="text-color-sv"
                                  style="font-weight: bold"
                                >
                                  Add gel polish to your toes for an extra $15!
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    The Classic
                                  </div>
                                  <div class="price">$32</div>
                                  <div class="row_note">
                                    <i>(Basic care)</i><br />
                                    This pedicure comes with nail trimming, shaping
                                    and buffing, cuticle care, sea salt scrub, and
                                    a classic massage and is finished with your choice
                                    of color.
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Deluxe
                                  </div>
                                  <div class="price">$42</div>
                                  <div class="row_note">
                                    <i>(Hot towels and hot stones)</i><br />
                                    This pedicure comes with nail trimming, shaping,
                                    buffing, cuticle care, sugar scrub, hot towels,
                                    and a 10-minute massage with hot stones, and
                                    is finished with your choice of color.
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    24K Spa Treatment
                                  </div>
                                  <div class="price">$52</div>
                                  <div class="row_note">
                                    <i>(Paraffin treatment and hot stones)</i
                                    ><br />
                                    This pedicure comes with nail trimming, shaping,
                                    buffing, cuticle care, sugar scrub, hot towels,
                                    and a 16-minute massage with hot stones, and
                                    is finished with your choice of color.
                                  </div>
                                </div>

                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Spoil Me Perfect
                                  </div>
                                  <div class="price">$67</div>
                                  <div class="row_note">
                                    <i
                                      >(Hot towel, paraffin, hot stones, and
                                      hand massage)</i
                                    ><br />
                                    This pedicure consists of nail trimming nail,
                                    shaping, and buffing. Done using an organic package,
                                    this service is followed with hot towels, paraffin
                                    wax, a 25-minute hot stone and oil massage, and
                                    your choice of color.
                                    <br /><span
                                      class="text-color-sv"
                                      style="font-weight: 600"
                                      >Scent options: Lavender, Fresh Orange,
                                      Milk &#038; Honey, Rose, Green Tea,
                                      Cucumber, Pearl Fresh, Aloe Vera Mint</span
                                    >
                                  </div>
                                </div>

                                <div class="row_svpage">
                                  <div class="row_name text-color-sv">
                                    Boss&#8217;s Magic Touch
                                  </div>
                                  <div class="price">$77</div>
                                  <div class="row_note">
                                    <i
                                      >(Ultimate 6-step treatment + jelly soak,
                                      neck massage)</i
                                    ><br />
                                    This pedicure comprises a jelly soak, nail trimming,
                                    shaping, buffing, and cuticle care. We follow
                                    with a hot towel wrap, paraffin or collagen socks,
                                    hot stones, cream, candle wax, and a 35-minute
                                    massage, and it is finished with your choice
                                    of color.
                                    <br /><span
                                      class="text-color-sv"
                                      style="font-weight: 600"
                                      >Scent options: Lavender, Fresh Orange,
                                      Milk &#038; Honey, Rose, Green Tea,
                                      Cucumber, Pearl Fresh, Aloe Vera Mint</span
                                    >
                                  </div>
                                </div>
                                <!--End-->
                              </div>
                            </div>
                          </div>

                          <a name="acrylics"></a>
                          <div class="group_services divseracti" id="seracti_3">
                            Acrylics
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_3"
                          >
                            <div class="servicesgroup">
                              <div
                                class="col-lg-4 col-md-4 col-sm-12 servicesimg"
                              >
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/7.webp"
                                    alt="Acrylics"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/8.webp"
                                    alt="Acrylics"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Regular (Full set/Fill-in)
                                  </div>
                                  <div class="price">$41+/$31+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Gel (Full set/Fill-in)
                                  </div>
                                  <div class="price">$51+/$41+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Solar Color (Full set/Fill-in)
                                  </div>
                                  <div class="price">$51+/$41+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Pink &#038; White (Full set/Fill-in)
                                  </div>
                                  <div class="price">$66+/$56+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Ombre (Full set/Fill-in)
                                  </div>
                                  <div class="price">$61+/$51+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Gel X (Full set/Fill-in)
                                  </div>
                                  <div class="price">
                                    $76+/Length (extra) $5+
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Cut &#038; Reshape (Full set)
                                  </div>
                                  <div class="price">Extra $5+</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a name="additional"></a>
                          <div class="group_services divseracti" id="seracti_4">
                            Additional Services
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_4"
                          >
                            <div class="servicesgroup">
                              <div
                                class="col-lg-4 col-md-4 col-sm-12 servicesimg"
                              >
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/9.webp"
                                    alt="Additional"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/10.webp"
                                    alt="Additional"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/11.webp"
                                    alt="Additional"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div class="row-name-title">Polish Change</div>
                                <div class="row_svpage">
                                  <div class="row_name">Hands/Toes</div>
                                  <div class="price">$10</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Gel on Hands/Toes</div>
                                  <div class="price">$21</div>
                                </div>
                                <div class="row-name-title">Massage</div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Foot Massage (25 mins)
                                  </div>
                                  <div class="price">$30</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Magic Touch (30 mins)
                                  </div>
                                  <div class="price">$45</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Tender Muscles (55 mins)
                                  </div>
                                  <div class="price">$65</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Skin Deep Spa (60 mins)
                                  </div>
                                  <div class="price">$75</div>
                                </div>
                                <div class="row-name-title">Design</div>
                                <div class="row_svpage">
                                  <div class="row_name">Design on 1 Nail</div>
                                  <div class="price">$5+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Design on 2 Nails</div>
                                  <div class="price">$10+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Design on 10 Nails</div>
                                  <div class="price">$15+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Intricate Design</div>
                                  <div class="price">$10+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Cat Eye/Chrome/Metallic/Marble
                                  </div>
                                  <div class="price">$10+</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a name="kid"></a>
                          <div class="group_services divseracti" id="seracti_5">
                            Kids&#8217; Menu
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_5"
                          >
                            <div class="servicesgroup">
                              <div
                                class="col-lg-4 col-md-4 col-sm-12 servicesimg"
                              >
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/12.webp"
                                    alt="Kids' Menu"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div style="color: #000">
                                  (For children under the age of 8)
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Manicure</div>
                                  <div class="price">$16</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Pedicure</div>
                                  <div class="price">$26</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Add Gel Polish</div>
                                  <div class="price">$12+</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a name="facial"></a>
                          <div class="group_services divseracti" id="seracti_6">
                            Facial
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_6"
                          >
                            <div class="servicesgroup">
                              <div
                                class="col-lg-4 col-md-4 col-sm-12 servicesimg"
                              >
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/13.webp"
                                    alt="Facial"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/14.webp"
                                    alt="Facial"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Fresh Facial (35 minutes)
                                  </div>
                                  <div class="price">$50</div>
                                  <div class="row_note">
                                    This facial includes a thorough skin
                                    analysis. It features a gentle exfoliation
                                    to loosen surface dry cells and prepare the
                                    skin for deep pore cleansing. It uses steam
                                    to soften pores and is followed by a
                                    relaxing facial massage.
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Signature Facial (50 minutes)
                                  </div>
                                  <div class="price">$65</div>
                                  <div class="row_note">
                                    Our signature facial helps stimulate
                                    lymphatic drainage and improve circulation
                                    in the skin. We customize your treatment to
                                    remove the appearance of dehydration,
                                    hyperpigmentation, fine lines, and
                                    blemishes. It includes a signature mask to
                                    give your skin a glow, followed by hot and
                                    cold steam, and is finally finished with a
                                    relaxing massage.
                                  </div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Rejuvenating Collagen Facial (60 minutes)
                                  </div>
                                  <div class="price">$75</div>
                                  <div class="row_note">
                                    This is a pore-cleansing treatment that
                                    eliminates the signs of aging and acne. It
                                    features a hot and cold steamer, mask, and
                                    ultrasonic facial tool treatment. Ultrasonic
                                    uses non-invasive sound energy with key
                                    products to exfoliate and hydrate while
                                    improving the overall look and feel of the
                                    skin.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a name="eyelash"></a>
                          <div class="group_services divseracti" id="seracti_7">
                            Eyelash Extensions
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_7"
                          >
                            <div class="servicesgroup">
                              <div
                                class="col-lg-4 col-md-4 col-sm-12 servicesimg"
                              >
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/16.webp"
                                    alt="Eyelash"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/17.webp"
                                    alt="Eyelash"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Cluster Lashes (New/Refill)
                                  </div>
                                  <div class="price">$70+/$40+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Custom Lashes (New/Refill)
                                  </div>
                                  <div class="price">$100+/$50+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Classic Lashes (New/Refill)
                                  </div>
                                  <div class="price">$120+/$60+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Volume Lashes (New/Refill)
                                  </div>
                                  <div class="price">$150+/$70+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Lash Tinting (New)</div>
                                  <div class="price">$35</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Lash Lift (New)</div>
                                  <div class="price">$50</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">
                                    Lash Cleanser (New)
                                  </div>
                                  <div class="price">$20</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Lash Removal (New)</div>
                                  <div class="price">$25</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a name="waxing"></a>
                          <div class="group_services divseracti" id="seracti_8">
                            Waxing
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_8"
                          >
                            <div class="servicesgroup">
                              <div
                                class="col-lg-4 col-md-4 col-sm-12 servicesimg"
                              >
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/18.webp"
                                    alt="Waxing"
                                  />
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/19.webp"
                                    alt="Waxing"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div class="row_svpage">
                                  <div class="row_name">Eyebrows</div>
                                  <div class="price">$10</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Lips</div>
                                  <div class="price">$7</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Chin</div>
                                  <div class="price">$10+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Whole Face</div>
                                  <div class="price">$35+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Neck</div>
                                  <div class="price">$20+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Arms</div>
                                  <div class="price">$50+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Legs</div>
                                  <div class="price">$50+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Bikini</div>
                                  <div class="price">$65+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Brazilian</div>
                                  <div class="price">$80+</div>
                                </div>
                                <div class="row_svpage">
                                  <div class="row_name">Back/Chest</div>
                                  <div class="price">$60+</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a name="Policy"></a>
                          <div class="group_services divseracti" id="seracti_9">
                            Policy
                          </div>
                          <div
                            class="servicesbox bg_services services_active"
                            id="services_9"
                          >
                            <div class="servicesgroup">
                              <div
                                class="col-lg-4 col-md-4 col-sm-12 servicesimg"
                              >
                                <div class="servicesimg">
                                  <img
                                    decoding="async"
                                    src="/wp-content/themes/bossnailspanorman/assets/images/services/policy.webp"
                                    alt="Policy"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
                                <div class="row_svpage">
                                  <div class="row_name">
                                    1. We do not offer refunds on lost or stolen
                                    gift cards.<br />
                                    3. We do not offer refunds on services that have
                                    been done in the salon.<br />
                                    2. We have the right to refuse services.
                                  </div>
                                  <div class="price"></div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--End Services-->
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <div id="pg-gb11-66bb66fe2f54d-1" class="panel-grid panel-no-style">
              <div id="pgc-gb11-66bb66fe2f54d-1-0" class="panel-grid-cell">
                <div
                  id="panel-gb11-66bb66fe2f54d-1-0-0"
                  class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
                  data-index="1"
                >
                  <div class="textwidget custom-html-widget">
                    <script>
                      var element = document.getElementById("mLinkServices");
                      element.classList.add("selected");
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="entry-meta"></section>
      </article>
    </div>
    <!--Wrapper-->
    <div id="sidebar" role="complementary">
      <ul>
        <li>
          <form
            role="search"
            method="get"
            id="searchform"
            class="searchform"
            action="index.html"
          >
            <div>
              <label class="screen-reader-text" for="s">Search for:</label>
              <input type="text" value="" name="s" id="s" />
              <input type="submit" id="searchsubmit" value="Search" />
            </div>
          </form>
        </li>

        <!-- Author information is disabled per default. Uncomment and fill in your details if you want to use it.
              <li><h2>Author</h2>
              <p>A little something about you, the author. Nothing lengthy, just an overview.</p>
              </li>
              -->
      </ul>
      <ul role="navigation">
        <li class="pagenav">
          <h2>Pages</h2>
          <ul>
            <li class="page_item page-item-19">
              <a href="promotions/contact.html">Contact</a>
            </li>
            <li class="page_item page-item-17">
              <a href="promotions/gallery.html">Gallery</a>
            </li>
            <li class="page_item page-item-26">
              <a href="promotions/happy-hour.html">Happy Hour</a>
            </li>
            <li class="page_item page-item-9">
              <a href="index.html">Home</a>
            </li>
            <li class="page_item page-item-14">
              <a href="promotions/promotion.html">Promotions</a>
            </li>
            <li class="page_item page-item-11 current_page_item">
              <a href="promotions/services.html" aria-current="page">Services</a
              >
            </li>
          </ul>
        </li>
        <li>
          <h2>Archives</h2>
          <ul>
            <li><a href="2024/01/index.html">January 2024</a></li>
          </ul>
        </li>

        <li class="categories">
          <h2>Categories</h2>
          <ul>
            <li class="cat-item cat-item-1">
              <a href="category/uncategorized/index.html">Uncategorized</a>
              (1)
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <h2>Meta</h2>
          <ul>
            <li><a href="/wp-login.php.html">Log in</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Footer
                  ================================================== -->
    <footer class="position-relative footer_background">
      <div class="footer-background-container sk__absolute">
        <div
          class="sk__gradient-background-tint footer-background sk__absolute"
        >
        </div>
      </div>

      <div class="container sk__supercontainer position-relative">
        <div class="row footer-top">
          <div class="col-12 col-sm-6 top-footer-logo">
            <a href="index.html"
              ><a href="index.html"
                ><img
                  src="/wp-content/themes/bossnailspanorman/assets/images/logo.webp"
                  alt="Site logo in the footer."
                /></a
              ></a
            >
          </div>
          <div class="col-12 col-sm-6 top-footer-tagline"></div>
        </div>
        <span class="divider sk__subtle-divider"></span>
        <div class="row footer-main text-center text-sm-start">
          <div class="col-md-12 col-lg-6 footer-main-large-col mb-4 mb-lg-0">
            <div class="fancy-gradient-text-box">
              <h3 class="h3-elegant sk__gradient-fancy-text">
                Start your journey now.
              </h3>
            </div>
            <p class="p-v2 mw-440">
              We make it our core commitment to provide a comforting yet
              professional ambiance, while preserving the luxurious and modern
              salon etiquette. Our salon is proud to have passionate and diverse
              expert technicians always ready to service you. Thank you for
              choosing us for your beauty care!
            </p>
            <h5>Contact</h5>
            <p class="p-v2 mw-440">
              <span
                ><strong>Address:</strong> 3321 W Tecumseh Rd #145<br />Norman,
                OK 73072</span
              ><br />
              <span
                ><strong>Phone:</strong><a
                  href="tel:4058019999"
                  style="color: #000"
                >
                  405-801-9999</a
                ></span
              ><br />
            </p>
          </div>
          <div
            class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col widget_nav_menu row"
          >
            <h5>Darkstar Quick Links</h5>
            <div class="col-md-6">
              <ul>
                <li>
                  <a href="index.html" class="footer-main-links gradient-links"
                    >Home</a
                  >
                </li>
                <li>
                  <a
                    href="services/services.html"
                    class="footer-main-links gradient-links">Services</a
                  >
                </li>
                <li>
                  <a
                    href="services/promotion.html"
                    class="footer-main-links gradient-links">Promotion</a
                  >
                </li>
                <li>
                  <a
                    href="services/gallery.html"
                    class="footer-main-links gradient-links">Gallery</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>
                  <a
                    href="https://services.bossnailspa.com/party"
                    class="footer-main-links gradient-links">Host A Party</a
                  >
                </li>
                <li>
                  <a
                    href="services/happy-hour.html"
                    class="footer-main-links gradient-links">Happy Hour</a
                  >
                </li>
                <li>
                  <a
                    href="services/contact.html"
                    class="footer-main-links gradient-links">Contact Us</a
                  >
                </li>
                <li>
                  <a
                    href="https://zota.zbook.us/boss3321-booking/"
                    class="footer-main-links gradient-links"
                    target="_blank">Book Online</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col">
            <div class="row">
              <div class="col">
                <!-- Footer Social Icons Menu -->
                <section class="footer-socials-section">
                  <h5>Follow Us</h5>
                  <div class="footer-socials-inner">
                    <div class="footer-socials">
                      <a
                        class="social-icons"
                        href="https://www.facebook.com/profile.php?id=61550858961718"
                        target="_blank"
                        ><span><span class="icon-facebook1"></span></span></a
                      >
                      <a
                        class="social-icons"
                        href="https://yelp.com/biz/boss-nail-spa-norman"
                        target="_blank"
                        ><span><span class="icon-yelp1"></span></span></a
                      >
                      <!--<a class="social-icons" href="#" target="_blank"><span><span class="icon-instagram1"></span></span></a>-->
                      <a
                        class="social-icons"
                        href="https://www.google.com/search?q=BOSS+NAIL+SPA+(Norman%2C+OK)&rlz=1C1CHBF_enUS850US850&oq=BOSS+NAIL+SPA+(Norman%2C+OK)&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQRRg9MgYIAhBFGD0yBggDEEUYPdIBBzQ1OGowajeoAgCwAgA&sourceid=chrome&ie=UTF-8"
                        target="_blank"
                        ><span><span class="icon-google-plus"></span></span></a
                      >
                    </div>
                  </div>
                </section>
              </div>
              <script src="https://apps.elfsight.com/p/platform.js" defer
              ></script>
              <div class="elfsight-app-d285ea74-0766-412b-8b56-9ca725e809bb">
              </div>
            </div>
          </div>
        </div>
        <span class="divider sk__subtle-divider"></span>
        <div class="row footer-bottom">
          <div class="col-xs-12 col-sm-6 col-md-4 text-center text-sm-start">
            <h5>BOSS NAIL SPA</h5>
          </div>
          <div
            class="col-12 col-md-4 order-xs-3 order-sm-3 order-md-2 text-center text-sm-start text-md-center"
          >
            <p class="p-footer-copyright">
              Copyright 
              <a href="index.html" target="_blank">BOSS NAIL SPA</a>
            </p>
          </div>
          <div
            class="col-xs-12 col-sm-6 col-md-4 order-sm-2 order-md-3 text-center text-sm-end"
          >
            <a
              class="footer-bottom-right-links"
              href="index.html"
              target="_blank">Home</a
            >
            <a
              class="footer-bottom-right-links"
              href="services/services.html"
              target="_blank">Services</a
            >
            <a
              class="footer-bottom-right-links"
              href="services/contact.html"
              target="_blank">Contact</a
            >
          </div>
        </div>
      </div>
    </footer>

    <!-- Helper div for inserting before scripts
                  ================================================== -->
    <div class="sk__body-end"></div>

    <!-- /#smooth-content -->

    <!-- /#smooth-wrapper -->
  </main>
</Layout>
