---
import BackToTopButton from "../components/BackToTopButton.astro";
import Curtain from "../components/Curtain.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ServiceComponent from "../components/service/ServiceComponent.astro";
import Layout from "../layouts/Layout.astro";
import { getServices } from "../utils/homePageContent";

const services = await getServices();
let id = 0;
---

<Layout title="Services">
  <main id="primary" class="site-main">
    <Curtain />
    <!-- Back to top button -->
    <BackToTopButton />
    <!-- Navigation Menu
          ================================================== -->
    <Header />
    <!-- /.sk__menu -->
    <section class="contact-page sk__pt-l">
      <div class="container sk__supercontainer">
        <div class="row text-center">
          <div class="col-12 col-md-10 offset-md-1 sk__reveal-header-text">
            <div class="cover-text-wrapper">
              <div class="happy-mb2"></div>
              <div class="fancy-gradient-text-box">
                <h1 class="super-heading sk__gradient-fancy-text">Services</h1>
              </div>
            </div>
            <div class="cover-text-wrapper">
              <h2 class="h2-large sk__heading-spacer-s"></h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Wrapper-->
    <div id="wrapper">
      <article
        class="post-11 page type-page status-publish hentry"
        id="post-11"
      >
        <!--<h2 class="entry-title">Services</h2>-->
        <section class="entry-content">
          <div id="pl-gb11-66bb66fe2f54d" class="panel-layout">
            <div id="pg-gb11-66bb66fe2f54d-0">
              <div id="pgc-gb11-66bb66fe2f54d-0-0" class="panel-grid-cell">
                <div
                  id="panel-gb11-66bb66fe2f54d-0-0-0"
                  class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
                  data-index="0"
                >
                  <div class="textwidget custom-html-widget">
                    <!-- CTA Section (Warp CTA)
                  ================================================== -->
                    <section
                      class="position-relative sk__image-back-cover services-bg-page"
                    >
                      <div class="container px-3">
                        <>
                          {
                            services
                              .filter((service) => !service.isComingSoon)
                              .map((service, index) => (
                                <ServiceComponent
                                  data={service}
                                  id={(id++).toString()}
                                />
                              ))
                          }
                          <div
                            class="d-flex flex-column flex-md-row gap-5 my-5 justify-content-center flex-wrap"
                          >
                            {
                              services
                                .filter((service) => service.isComingSoon)
                                .map((service, index) => (
                                  <div class="col-md-5 col-lg-5">
                                    <ServiceComponent
                                      id={(id++).toString()}
                                      data={service}
                                    />
                                  </div>
                                ))
                            }
                          </div>
                        </>
                      </div>
                    </section>
                  </div>
                </div>
                <div
                  id="pg-gb11-66bb66fe2f54d-1"
                  class="panel-grid panel-no-style"
                >
                  <div id="pgc-gb11-66bb66fe2f54d-1-0" class="panel-grid-cell">
                    <div
                      id="panel-gb11-66bb66fe2f54d-1-0-0"
                      class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child"
                      data-index="1"
                    >
                      <div class="textwidget custom-html-widget">
                        <script>
                          var element =
                            document.getElementById("mLinkServices");
                          element.classList.add("selected");
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="entry-meta"></section>
          </div>
        </section>
        <!--Wrapper-->
        <!-- Footer
                  ================================================== -->
        <Footer />

        <!-- Helper div for inserting before scripts
                  ================================================== -->
        <div class="sk__body-end"></div>

        <!-- /#smooth-content -->

        <!-- /#smooth-wrapper -->
      </article>
    </div>
  </main>
</Layout>
