---
import { getImage } from "astro:assets";
import curtainImageA from "../images/preload/a.png";
import curtainImageB from "../images/preload/b.png";
import curtainImageC from "../images/preload/c.png";
const PUBLIC_ENV = import.meta.env.PUBLIC_ENV;

const isPreview = PUBLIC_ENV === "Preview";

const curtainImageAOptimized = await getImage({
  src: curtainImageA,
  inferSize: true,
});

const curtainImageBOptimized = await getImage({
  src: curtainImageB,
  inferSize: true,
});

const curtainImageCOptimized = await getImage({
  src: curtainImageC,
  inferSize: true,
});
---

{
  isPreview ? null : (
    <section class="sk__master-curtain">
      <div
        class="mcurtain mcurtain-left"
        style={`background-image: url(${curtainImageAOptimized.src});`}
      />
      <div
        class="mcurtain mcurtain-center"
        style={`background-image: url(${curtainImageBOptimized.src});`}
      />
      <div
        class="mcurtain mcurtain-right"
        style={`background-image: url(${curtainImageCOptimized.src});`}
      />
    </section>
  )
}

<style>
  .mcurtain-left {
    left: 0;
    background-position: center;
  }

  .mcurtain-center {
    left: 33.333%;
    background-position: center;
  }

  .mcurtain-right {
    left: 66.666%;
    background-position: center;
  }
</style>
