{
  !import.meta.env.DEV && (
    <section class="sk__master-curtain">
      <div class="mcurtain mcurtain-left" />
      <div class="mcurtain mcurtain-center" />
      <div class="mcurtain mcurtain-right" />
    </section>
  )
}
