<footer class="position-relative footer_background">
  <div class="footer-background-container sk__absolute">
    <div class="sk__gradient-background-tint footer-background sk__absolute">
    </div>
  </div>
  <div class="container sk__supercontainer position-relative">
    <div class="row footer-top">
      <div class="col-12 col-sm-6 top-footer-logo">
        <a href="/"
          ><a href="/"
            ><img
              src="/logo.png"
              alt="Site logo in the footer."
            /></a
          ></a
        >
      </div>
      <div class="col-12 col-sm-6 top-footer-tagline"></div>
    </div>
    <span class="divider sk__subtle-divider"></span>
    <div class="row footer-main text-center text-sm-start">
      <div class="col-md-12 col-lg-6 footer-main-large-col mb-4 mb-lg-0">
        <div class="fancy-gradient-text-box">
          <h3 class="h3-elegant sk__gradient-fancy-text">
            Start your journey now.
          </h3>
        </div>
        <p class="p-v2 mw-440">
          We make it our core commitment to provide a comforting yet
          professional ambiance, while preserving the luxurious and modern salon
          etiquette. Our salon is proud to have passionate and diverse expert
          technicians always ready to service you. Thank you for choosing us for
          your beauty care!
        </p>
        <h5>Contact</h5>
        <p class="p-v2 mw-440">
          <span
            ><strong>Address:</strong> 606 50th Street Charleston, WV 25304</span
          ><br />
          <span
            ><strong>Phone:</strong><a
              href="tel:3047673121"
              style="color: #000"
            >
              304.767.3121</a
            ></span
          ><br />
        </p>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col widget_nav_menu row"
      >
        <h5>Quick Links</h5>
        <div class="col-md-6">
          <ul>
            <li>
              <a href="/" class="footer-main-links gradient-links"
                >Home</a
              >
            </li>
            <li>
              <a href="/services" class="footer-main-links gradient-links"
                >Services</a
              >
            </li>
            <li>
              <a href="/promotion" class="footer-main-links gradient-links"
                >Promotion</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <a
                href="/host-a-party"
                class="footer-main-links gradient-links">Host A Party</a
              >
            </li>
            <li>
              <a href="/contact" class="footer-main-links gradient-links"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                href="https://www.lldtek.com/salon/appt/VjFaZk1UQTBPRGs9"
                class="footer-main-links gradient-links"
                target="_blank">Book Online</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col">
        <div class="row">
          <div class="col">
            <!-- Footer Social Icons Menu -->
            <section class="footer-socials-section">
              <h5>Follow Us</h5>
              <div class="footer-socials-inner">
                <div class="footer-socials">
                  <a
                    class="social-icons"
                    href="https://www.facebook.com"
                    target="_blank"
                    ><span><span class="icon-facebook1"></span></span></a
                  >
                  <a
                    class="social-icons"
                    href="https://yelp.com/biz/"
                    target="_blank"
                    ><span><span class="icon-yelp1"></span></span></a
                  >
                  <!--<a class="social-icons" href="#" target="_blank"><span><span class="icon-instagram1"></span></span></a>-->
                  <a
                    class="social-icons"
                    href="https://www.google.com/"
                    target="_blank"
                    ><span><span class="icon-google-plus"></span></span></a
                  >
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <span class="divider sk__subtle-divider"></span>
    <div class="row footer-bottom">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center text-sm-start">
        <h5>Lavish Nail Lounge & Spa</h5>
      </div>
      <div
        class="col-12 col-md-4 order-xs-3 order-sm-3 order-md-2 text-center text-sm-start text-md-center"
      >
        <p class="p-footer-copyright">
          Copyright ©
          <a href="/" target="_blank">Lavish Nail Lounge & Spa</a>
        </p>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 order-sm-2 order-md-3 text-center text-sm-end"
      >
        <a class="footer-bottom-right-links" href="/" target="_blank"
          >Home</a
        >
        <a
          class="footer-bottom-right-links" href="/services" target="_blank"
          >Services</a
        >
        <a class="footer-bottom-right-links" href="/contact" target="_blank"
          >Contact</a
        >
      </div>
    </div>
  </div>
</footer>
