---
import { getBookingLink } from "../utils/homePageContent";

const bookingLink = await getBookingLink();
---

<div class="sk__mobile-menu-bar"></div>
<!-- Mobile Menu Logo -->
<a class="sk__mobile-main-logo" href="/">
  <img alt="Website logo." src="/logo.png" />
</a>
<nav
  id="main-nav"
  style="opacity: 0"
  class="sk__menu navbar sk__navbar navbar-expand-lg navbar-dark static-top"
>
  <!-- Desktop Menu Logo -->
  <a class="navbar-brand" href="/"
    ><img id="sk__main-logo" alt="Website logo." src="/logo.png" /></a
  >
  <!-- The Menu -->
  <ul class="navbar-nav ms-auto">
    <!-- Mobile Menu Logo (only use if "close" buttons are set to false in JS) -->
    <li data-nav-custom-content class="custom-content sk__mobile-menu-logo">
      <a class="sk__mobile-navbar-brand" href="/"
        ><img alt="Website mobile logo." src="/logo-yellow.png" /></a
      >
    </li>
    <!-- Regular Menu Items Start -->
    <li class="nav-item">
      <a class="nav-link" href="/" id="mLinkHome">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gallery" id="mLinkGallery">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services" id="mLinkServices">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#whats-new" id="mLinkPromotions">What's New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#host-a-party">Host A Party</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact" id="mLinkContact">Contact</a>
    </li>
    <li class="nav-item nav-itembook">
      <a class="nav-link" href={bookingLink} target="_blank" id="book-home"
        >Book Online</a
      >
    </li>
    <!-- Regular Menu Items End -->
    <!-- Mobile Menu Social Icons -->
    <li data-nav-custom-content class="custom-content sk__menu-socials">
      <section class="footer-socials-section">
        <!--<h3></h3>-->
        <div class="footer-socials-inner">
          <div class="footer-socials">
            <a
              class="social-icons"
              href="https://www.facebook.com/profile.php?id=61550858961718"
              target="_blank"
              ><span><span class="icon-facebook1"></span></span></a
            >
            <a
              class="social-icons"
              href="https://yelp.com/biz/boss-nail-spa-norman"
              target="_blank"><span><span class="icon-yelp1"></span></span></a
            >
            <!--<a class="social-icons" href="#" target="_blank"><span><span class="icon-instagram1"></span></span></a>-->
            <a
              class="social-icons"
              href="https://www.google.com/search?q=BOSS+NAIL+SPA+(Norman%2C+OK)&rlz=1C1CHBF_enUS850US850&oq=BOSS+NAIL+SPA+(Norman%2C+OK)&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQRRg9MgYIAhBFGD0yBggDEEUYPdIBBzQ1OGowajeoAgCwAgA&sourceid=chrome&ie=UTF-8"
              target="_blank"
              ><span><span class="icon-google-plus"></span></span></a
            >
          </div>
        </div>
      </section>
    </li>
  </ul>
</nav>
<style>
  @media all and (max-width: 575px) {
    a.sk__mobile-main-logo img {
      max-height: 75px;
    }
  }
</style>